.welcomText {
	font-weight : 700;
	text-shadow: 1px 1px 6px #FFFFFF;
}

.topnav{
	position: absolute;
	z-index : 9999999;
	box-shadow:0 0px 0px 0 rgba(0,0,0,0);

}

.parallax-container {
	height : 550px;
}
.dropdown-content{
	background-color: rgba(0,0,0,0.6);
	
	
}
  
  .dropdown-content li>a, .dropdown-content li>span {
  color:#FFFFFF;
  }

  @media only screen and (min-width: 992px) {
  .nav-wrapper {
   margin: 0 150px 0 150px
  }
}